@model IEnumerable<Sigeret.Equipo>

@{
    ViewBag.Title = "Reporte Equipos";
}

<h2>Reporte Equipos</h2>

<p>
    @Html.ActionLink("Nuevo Equipo", "NuevoEquipo")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModeloEquipo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloEquipo.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloEquipo.MarcaEquipo.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloEquipo.Descripcion)
        </th>
        <th>
            @Html.DisplayName("Estatus")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloEquipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloEquipo.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloEquipo.MarcaEquipo.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloEquipo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstatusEquipo.Estatus)
        </td>

        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>
