@model Sigeret.Models.UserProfile

@{
    ViewBag.Title = "Registro";
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            Registrese</hgroup>
        <div class="well">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset class="employe">
                    <legend>UserProfile</legend>

                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Nombre)
                            @Html.CTextBoxFor(model => model.Nombre)
                            @Html.CValidationMessageFor(model => model.Nombre)
                        </div>

                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Apellido)
                            @Html.CTextBoxFor(model => model.Apellido)
                            @Html.CValidationMessageFor(model => model.Apellido)
                        </div>

                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Cedula)
                            @Html.CTextBoxFor(model => model.Cedula)
                            @Html.CValidationMessageFor(model => model.Cedula)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.Label("Nombre Usuario", new { @class = "control-label" })
                            @Html.CTextBoxFor(model => Model.UserName)
                            @Html.CValidationMessageFor(model => model.UserName)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Matricula)
                            @Html.CTextBoxFor(model => model.Matricula)
                            @Html.CValidationMessageFor(model => model.Matricula)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.Label("Correo Electrónico", new { @class = "control-label" })
                            <input type="email" name="correo" placeholder="juanperez@ejemplo.com" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-group col-lg-12">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                        @Html.ActionLink("Regresar", "Index", "Home", new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
