@model Sigeret.Models.Solicitud

@{
    ViewBag.Title = "Editar Solicitud";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Editar Solicitud</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div id="ModelMensaje" style="color:red; font-weight:bold">
        <br />
        @Html.ValidationSummary(true)
    </div>


    <fieldset>
        <legend>Solicitud</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HoraInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraInicio)
            @Html.ValidationMessageFor(model => model.HoraInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoraFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraFin)
            @Html.ValidationMessageFor(model => model.HoraFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AulaEdificio.Lugar.Edificio)
        </div>
        @Html.DropDownList("edificioId")


        <div class="editor-label">
            @Html.Label("Salon")
        </div>
        @Html.DropDownList("IdAula", "--Seleccione Salon--")
        @Html.ValidationMessage("IdAula")


    </fieldset>
     
        <div id="ModelMensaje" style="color:red; font-size:x-large; font-weight:bold">
         
            @ViewBag.Seleccionar
            <br />
            
        </div>
 
    
    <fieldset>
        <legend>Editar Equipos Seleccionados</legend>

        <table>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayName("Cantidad")
                </th>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Descripción")

                </th>


                <th></th>
            </tr>

            @{

                List<Tuple<String, String>> cantidadSel = new List<Tuple<string, string>>();
                cantidadSel = ViewBag.cantidadSel;
            }

            @foreach (var item in ViewBag.ModeloEquipo)
            {
                var checkBoxId = "chk" + @item.Id;
                var hiddenCheckBoxId = "hChk" + @item.Id;
                var checkBoxValue = @item.Id;
                var cantidad = "cant" + @item.Id;
                var td = "td" + @item.Id;
                <tr>

                    <td id="@td">


                     @{       

                         var a=0;
           
                        foreach (var modelo in cantidadSel)
                        {
                            
                            if (item.Id== Int32.Parse( modelo.Item1))
                                {

                                <input type="checkbox" id="@checkBoxId" name="@checkBoxId" checked="checked" value="@checkBoxValue" class="chkclass" onchange="habilitarCantidad()" />
                                <input type="checkbox" id="@hiddenCheckBoxId" name="@hiddenCheckBoxId" style="display:none;" checked="checked" value="@checkBoxValue" class="chkclass" onchange="habilitarCantidad()" />
                                    a = 1;
                                }
                        }


                        if (a == 0)
                        {


                            <input type="checkbox" id="@checkBoxId" name="@checkBoxId" value="@checkBoxValue" class="chkclass" onchange="habilitarCantidad()" />
                            a = 1;

                            
                        }
                    
                    }

                        
                    </td>
                    <td>

                        @if (cantidadSel.Count == 0)
                        {

                            <div class="editor-field">

                                <input type="text" name="@cantidad" id="@checkBoxId" maxlength="2" class="chkclass" style="width:30px; text-align:center;" value="1" />

                            </div>
                        }
                        else
                        {
                            var b=0;
                            
                            foreach (var cant in cantidadSel)
                            {
                               
                                if (item.Id == Int32.Parse(cant.Item1))
                                {

                                   
                                    <div class="editor-field">

                                        <input type="text" name="@cantidad" id="@checkBoxId" maxlength="2" class="chkclass" style="width: 30px; text-align: center;" value="@cant.Item2" />

                                    </div>
                                    b = 1;
                                   
                                }
                               
                            }


                            if (b == 0)
                            {
                                
                            <div class="editor-field">

                                <input type="text" name="@cantidad" id="@checkBoxId" maxlength="2" class="chkclass" style="width:30px; text-align:center;" value="1" />

                            </div>
                            }


                            
                        }


                    </td>
                    <td>

                        @item.Nombre
                    </td>
                    <td>
                        @item.Descripcion
                    </td>


                </tr>
            }

        </table>

    </fieldset>
            <p>
            <input type="submit" value="Guardar" />
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $("#edificioId").change(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("getSalonJson", "Solicitud")',
            data: { salonId: $("#edificioId > option:selected").attr("value") },
            success: function (data) {
                var items = [];
                items.push("<option>--Seleccione Salon--</option>");
                $.each(data, function () {
                    items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                });
                $("#IdAula").html(items.join(' '));


            }
        })
    });
</script>