@model Sigeret.Models.Solicitud

@{
    ViewBag.Title = "Solicitud";
    List<String> check = new List<string>();
    check = ViewBag.check;

    List<Tuple<String, String>> cantidadSel = new List<Tuple<string, string>>();
    cantidadSel = ViewBag.cantidad;
}

<script src="~/Scripts/jquery-2.0.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h2>Nueva Solicitud</h2>
        </hgroup>
        <div class="well">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="employe">
                    <legend>Datos de la nueva Solicitud a registrar</legend>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Fecha)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.Fecha, new { @class = "fechaFutura", Value = "", id = "fecha" })
                                <label for="Fecha" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.Fecha)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraInicio)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraInicio, new { @class = "CtimePicker", id = "horaInicio" })
                                <label for="HoraInicio" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraFin)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraFin)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraFin, new { @class = "CtimePicker", id = "horaFin" })
                                <label for="HoraFin" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraInicio)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.CLabelFor(model => model.Descripcion)
                            @Html.CTextAreaFor(model => model.Descripcion)
                            @Html.CValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.Label("Edificio", new { @class = "control-label" })
                            @Html.CDropDownList("edificioId", (SelectList)ViewBag.Edificio, "--Seleccione Edificio--", new { @class = "chosen" })
                            @Html.ValidationMessage("edificioId")
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.Label("Salon", new { @class = "control-label" })
                            @Html.CDropDownList("salonId", (IEnumerable<SelectListItem>)ViewBag.Salon, "--Seleccione Salon--", new { @class = "chosen" })
                            @Html.ValidationMessage("salonId")
                        </div>
                    </div>

                    <div id="ModelMensaje" style="color: red; font-size: x-large; font-weight: bold">
                        <br />
                        @ViewBag.Seleccionar
                    </div>

                    <div id="PartialModeloEquipo">

                    </div>

                    <div class="row form-group col-lg-12 pt20">
                        <input type="submit" class="btn btn-primary" value="Crear" />
                        @Html.ActionLink("Retroceder", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


@section Scripts{

  @Scripts.Render("~/bundles/jqueryval")

    <script>

        $("#edificioId").change(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("getSalonJson", "Solicitud")',
                data: { salonId: $("#edificioId > option:selected").attr("value") },
                success: function (data) {
                    var items = [];
                    items.push("<option>--Seleccione Salon--</option>");
                    $.each(data, function () {
                        items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#salonId").html(items.join(' '));
                }
            })
        });


        $("#fecha").change(function () {

            
            var fechaVar = document.getElementById('fecha');
            var horaInicioVar = document.getElementById('horaInicio');
            var horaFinVar = document.getElementById('horaFin');
            if (fechaVar.value != "" && horaFinVar.value != "" && horaInicioVar.value != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                        data: { fecha: fechaVar.value, horaInicio: horaInicioVar.value, horaFin: horaFinVar.value },
                        success: function (data) {
                            $('#PartialModeloEquipo').html(data);
                        }
                    })
            }
        });

        $("#horaInicio").change(function () {

            
            var fechaVar = document.getElementById('fecha');
            var horaInicioVar = document.getElementById('horaInicio');
            var horaFinVar = document.getElementById('horaFin');
            if (fechaVar.value != "" && horaFinVar.value != "" && horaInicioVar.value != "") {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                    data: { fecha: fechaVar.value, horaInicio: horaInicioVar.value, horaFin: horaFinVar.value },
                    success: function (data) {
                        $('#PartialModeloEquipo').html(data);
                    }
                })
            }
        });

        $("#horaFin").change(function () {

            
            var fechaVar = document.getElementById('fecha');
            var horaInicioVar = document.getElementById('horaInicio');
            var horaFinVar = document.getElementById('horaFin');
            if (fechaVar.value != "" && horaFinVar.value != "" && horaInicioVar.value != "") {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                    data: { fecha: fechaVar.value, horaInicio: horaInicioVar.value, horaFin: horaFinVar.value },
                    success: function (data) {
                        $('#PartialModeloEquipo').html(data);
                    }
                })
            }
        });


    </script>
}