@model IEnumerable<Sigeret.Equipo>

<table>
    <tr>
        <th>
            
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>

        <th></th>
    </tr>



@foreach (var item in ViewBag.Equipo) {
    <tr>
       
        <td>
         
             @Html.CheckBox("@item.Nombre+@item.id", new { @checked = "checked" })       
                     
      
            
        </td>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.descripcion
        </td>


    </tr>
}

</table>
