@model IEnumerable<Sigeret.Solicitud>


@{
    ViewBag.Title = "Reporte Solicitudes Adm";
}

<h2>Reporte Solicitudes Administrador</h2>

<p>
    @Html.ActionLink("Nueva", "Nueva")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Número")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayName("Edificio")
        </th>
        <th>
            @Html.DisplayName("Salon")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AulaEdificio.Lugar.Edificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AulaEdificio.Aula)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Cancelar", "Cancelar", new { id = item.Id })
            </td>
        </tr>
    }

</table>
